@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Montserrat&display=swap');
*{
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: #010c13;
  color: white;
}

.navs{
  background-color:#010c13;

}
.jumbotron {
  margin-top: -40px;
  color: white;
  border-radius: 0;
  background-color: #0b1a20;
}

.grid-div{
    width: 75%;
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    margin: auto;
}
.grid-news{
    width:80%;
    margin: auto;
}

.search-bar{
  padding: 50px;
  border-radius: 14px;
  background: #0b1a20;
  grid-gap: 20px;
  box-shadow:  5px 5px 6px #040a0d, 
               -5px -5px 6px #122a33;
}
.cards{
   margin-top: -30px;
}
.results{
   
 background: #010c13;
 border:none;
 box-shadow:  5px 5px 10px #000508, 
             -5px -5px 10px #02131e;
padding: 20px;
}
.newsresults{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

footer{
  background-color: #0b1a20;
}
footer h5{
  color: tomato;
}
footer a{
  text-decoration: none;
  color: snow;
}
footer a:hover{
  color: tomato;
  text-decoration: none;
}


/*--------------media---------------------*/
@media (max-width: 768px) {
  .jumbotron {
    padding-bottom: 2rem;
    margin-top: 10px;
   
  }
}
.grid-news{
  width: 95%;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.results{
  margin-top: 20px;
}
.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}