{% extends 'search/base.html' %}
{% load static %}
  {% block title %}
     Youtube Search
  {% endblock %}
{% block content %}
{% include 'search/navbar.html' %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container search-bar">
      <h1 class="jumbotron-heading"><img src="{% static '/images/youtube.png' %}" class="rounded" height="45px;">Search <b><span style="color:#ff4d4d;">YouTube</span></b></h1>
      <p class="lead text-muted">Search all the YouTube's available videos !</p>
      <form method="POST">
      <div class="input-group mb-3">
          {% csrf_token %}
          <input type="text" name="search" class="form-control" aria-label="Username" placeholder="search anything">
      </div>
      <p>
        <button type="submit" name="submit" value="search" class="btn btn-outline-danger my-2">YouTube <i class="fa fa-search"></i></button>
        <button type="submit" name="submit" value="lucky" class="btn btn-outline-success my-2">First Served</button>
      </p>
      </form>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row">

        {% for video in videos %}

        <div class="col-md-4 cards ">
          <div class="card mb-4 results">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ video.thumbnail }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <div class="card-body">
              <p class="card-text">{{ video.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" href="{{ video.url }}" class="btn btn-sm btn-outline-secondary">View<i class="fa fa-share p-1"></i></a>
                </div>
                <small class="text-muted">{{ video.duration }} mins</small>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        Search anything. Your results will be here .
        {% endfor %}
      </div>
    </div>
  </div>

</main>


{% endblock %}