{% extends 'search/base.html' %}
{% load static %}
  {% block title %}
     Home
  {% endblock %}
{% block content %}
{% include 'search/navbar.html' %}


  <section class="jumbotron text-center homes">
    <div class="container search-bar">
      <h1 class="jumbotron-heading"><!-- <img src="{% static '/images/youtube.png' %}" class="rounded" height="45px;"> -->API <b><span style="color:#ff4d4d;">GATHERING</span></b></h1>
      <p class="lead text-muted">Collection of multiple Api</p>
       <p>
        <a href="{% url 'corona' %}" class="btn btn-outline-info my-2">Corona Tracker</a>
        <a href="{% url 'youtube' %}" class="btn btn-outline-danger my-2">YouTube API<i class="fa fa-search"></i></a>
        <a href="{% url 'weather' %}" class="btn btn-outline-success my-2">Weather API</a>

      </p>
    </div>

  </section>

  {% endblock %}