  {% extends 'search/base.html' %}
{% load static %}
  {% block title %}
     Weather app
  {% endblock %}
{% block content %}
{% include 'search/navbar.html' %}

      
    <section class="jumbotron text-center">
    <div class="container search-bar">
      <h1 class="jumbotron-heading">Search <b><span style="color:#ff4d4d;">Weather</span></b></h1>
      <p class="lead text-muted">Search the weather of all the cities !</p>
      <form method="POST">
   
      <div class="input-group mb-3">
          {% csrf_token %}
         {{ form.name }}
      </div>
      <p>
       <button type="submit" class="btn btn-outline-danger"> Add City</button></p>
    {% if message %}
         <div class="notification {{ message_class }}">{{ message }}</div>
    {% endif %}
      </form>
    </div>
  </section>

 <section class="section">
  <div class="grid-div">
     {% for city_weather in weather_data %}
   
        <div style="display: flex;padding: 10px; box-shadow:  5px 5px 10px #000508, 
             -5px -5px 10px #02131e; margin-top: 14px;">
            <span><img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image"></span>

          <span><p>
            <span class="title">{{ city_weather.city }}</span>
             <a href="{% url 'delete_city' city_weather.city %}"><button class="delete"></button>  </a>
            <br>
            <span class="subtitle">{{ city_weather.temperature }}° F</span>
            <br> {{ city_weather.description }}
            </p></span>
        </div>
    
            {% empty %}
            <p>Add City 
            {% endfor %}
  </div>
 </section>

      {% endblock %}